# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [82]:
wdata_df=pd.read_csv("../output_data/CityWeather.csv",index_col="City ID")
wdata_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
City ID,,,,,,,,,
0,Ōzu,33.5000,132.5500,44.19,61,63,4.68,JP,1641168893
1,Laguna,38.4210,-121.4238,55.24,68,1,1.01,US,1641168893
2,Bealanana,-14.5500,48.7333,65.17,96,98,0.40,MG,1641168893
3,Bredasdorp,-34.5322,20.0403,58.32,82,88,3.44,ZA,1641168893
4,Ouadda,8.0777,22.4007,70.97,28,47,7.23,CF,1641168893

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [83]:
# Configure gmaps
gmaps.configure(api_key=g_key)
##defining locations
locations = wdata_df[['Lat', 'Lng']]
##defining weight
humidity=wdata_df['Humidity']
# --- customize the size of the figure and add heatmap layer to map ---
figure_layout = {
    'width': "100%",
    'height': '400px',
#    'border': '1px solid black',
    'padding': '1px',
#    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout, center=(20.0, 5.0), zoom_level=1.9)
heat_layer = gmaps.heatmap_layer(locations, humidity, 
                                 dissipating=False,max_intensity=max(humidity), point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='400px', padding='1px', width='100%'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [84]:
vacation_cities=wdata_df.loc[(wdata_df["Max Temp"]> 70) &
                             (wdata_df["Max Temp"]< 80) &
                             (wdata_df["Wind Speed"] < 10) &
                             (wdata_df["Cloudiness"] == 0),:].reset_index(drop=True).dropna()
vacation_cities

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Los Llanos de Aridane,28.6585,-17.9182,70.12,22,0,8.01,ES,1641168949
1,Qandala,11.4720,49.8728,75.29,70,0,3.60,SO,1641168978
2,Kibala,9.1104,18.3463,71.55,33,0,6.91,TD,1641168986
3,Puruarán,19.1000,-101.5333,78.48,55,0,3.02,MX,1641168989
4,Saint-Pierre,-21.3393,55.4781,74.88,69,0,8.05,RE,1641168727

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [85]:
# --- store into variable named hotel_df ---

hotel_df = vacation_cities[["City", "Country", "Lat", "Lng"]].copy()

# --- Add a "Hotel Name" column to the DataFrame with null values ---
hotel_df["Hotel Name"] = np.nan
hotel_df

                    City Country      Lat       Lng  Hotel Name
0  Los Llanos de Aridane      ES  28.6585  -17.9182         NaN
1                Qandala      SO  11.4720   49.8728         NaN
2                 Kibala      TD   9.1104   18.3463         NaN
3               Puruarán      MX  19.1000 -101.5333         NaN
4           Saint-Pierre      RE -21.3393   55.4781         NaN

In [86]:
# set up parameters for querying Google Places API
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# define base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [87]:
# use a for loop to go through each city in the dataframe and make an API call

for index, row in hotel_df.iterrows():
    lat=row["Lat"]
    lng=row["Lng"]
    params["location"]=f"{lat},{lng}"
    
     # call the API and get hotel details for each city ---
    hotel_data = requests.get(base_url, params)
    hotel_data=hotel_data.json()
    
    # use exception handling to save the first hotel name for each city
    try:
        hotel_name = hotel_data["results"][0]["name"]
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        print(f"City '{row['City']}' found! The nearest hotel is {hotel_name}")
        print("-------------------------------------------------------------------------")
              
    except:
        print(f"Could not find information for city '{row['City']}'... skipping.")    
        print("-------------------------------------------------------------------------")

City 'Los Llanos de Aridane' found! The nearest hotel is Hotel Hacienda de Abajo
-------------------------------------------------------------------------
Could not find information for city 'Qandala'... skipping.
-------------------------------------------------------------------------
City 'Kibala' found! The nearest hotel is hotel safari
-------------------------------------------------------------------------
Could not find information for city 'Puruarán'... skipping.
-------------------------------------------------------------------------
City 'Saint-Pierre' found! The nearest hotel is Hôtel Le Saint-Pierre
-------------------------------------------------------------------------

In [88]:
#remove all null rows from data frame
hotel_df.dropna(how="any",inplace=True)
hotel_df.reset_index(drop=True, inplace=True)
hotel_df

                    City Country      Lat      Lng               Hotel Name
0  Los Llanos de Aridane      ES  28.6585 -17.9182  Hotel Hacienda de Abajo
1                 Kibala      TD   9.1104  18.3463             hotel safari
2           Saint-Pierre      RE -21.3393  55.4781    Hôtel Le Saint-Pierre

In [89]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [90]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='400px', padding='1px', width='100%'))